# Actividad 3a #
 - Nombre: Andrea Carolina López Ruiz 
 - Matrícula:1902969 
 - Grupo: 043

##### Carga las dos librerias usadas (numpy, pandas )

In [2]:
import numpy as np
import pandas as pd

El siguiente comando importa un data frame desde un archivo csv de internet

In [4]:
 ventas = pd.read_csv("https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/ventas1.csv")

mostrar las primeras 5 filas

In [6]:
ventas.head(5)

    Año      Mes  Ventas  Gastos
0  2015    Enero     160      71
1  2015  Febrero     191     125
2  2015    Marzo     177      72
3  2015    Abril     154      78
4  2015     Mayo     175     110

mostrar las ultimas 5 filas

In [7]:
ventas.tail(5)

     Año         Mes  Ventas  Gastos
31  2017      Agosto     167     107
32  2017  Septiembre     197     111
33  2017     Octubre     160      53
34  2017   Noviembre     171      91
35  2017   Diciembre     110      66

1.Crea una nueva columna que se llame Ganancias y que contenga la diferencia entre ventas-gastos

In [11]:
ventas['Ganancias']=ventas['Ventas']-ventas['Gastos']

2.Muestra el dataframe que incluye esta columna

In [13]:
ventas

     Año         Mes  Ventas  Gastos  Ganancias
0   2015       Enero     160      71         89
1   2015     Febrero     191     125         66
2   2015       Marzo     177      72        105
3   2015       Abril     154      78         76
4   2015        Mayo     175     110         65
5   2015       Junio     143      56         87
6   2015       Julio     109      97         12
7   2015      Agosto     104     100          4
8   2015  Septiembre     176      80         96
9   2015     Octubre     198      51        147
10  2015   Noviembre     120      54         66
11  2015   Diciembre     149     119         30
12  2016       Enero     111      92         19
13  2016     Febrero     198      86        112
14  2016       Marzo     194     101         93
15  2016       Abril     171     102         69
16  2016        Mayo     128      64         64
17  2016       Junio     105     107         -2
18  2016       Julio     172     117         55
19  2016      Agosto     148     110         38
20  2016  Septiembre     134      85         49
21  2016     Octubre     192      70        122
22  2016   Noviembre     156      65         91
23  2016   Diciembre     165     120         45
24  2017       Enero     133     117         16
25  2017     Febrero     128      56         72
26  2017       Marzo     125      89         36
27  2017       Abril     168      52        116
28  2017        Mayo     168      59        109
29  2017       Junio     141     122         19
30  2017       Julio     105      64         41
31  2017      Agosto     167     107         60
32  2017  Septiembre     197     111         86
33  2017     Octubre     160      53        107
34  2017   Noviembre     171      91         80
35  2017   Diciembre     110      66         44

3.Calcula e imprime las ventas totales, gastos totales y ganacias totales de todo el periodo
Ejemplo de mensaje= las ventas totales son:
etc

In [17]:
ventas_t=ventas['Ventas'].sum()
gastos_t=ventas['Gastos'].sum()
ganancias_t=ventas['Ganancias'].sum()
print("Las ventas totales son:",ventas_t)
print("Los gastos son:",gastos_t)
print("Las ganancias totales son:",ganancias_t)

Las ventas totales son: 5503
Los gastos son: 3119
Las ganancias totales son: 2384

4.Calcula e imprime las ventas promedio, gastos promedio y ganacias promedio de todo el periodo
Ejemplo de mensaje= las ventas promedio son:

In [18]:
ventas_p=ventas['Ventas'].mean()
gastos_p=ventas['Gastos'].mean()
ganancias_p=ventas['Ganancias'].mean()
print("Las ventas promedio son:",ventas_t)
print("Los gastos promedio son:",gastos_t)
print("Las ganancias promedio son:",ganancias_t)

Las ventas promedio son: 5503
Los gastos promedio son: 3119
Las ganancias promedio son: 2384

5.Calcula e imprime las ventas promedio de 2015

In [37]:
ventas.groupby('Año').mean() ['Ventas']

Año
2015    154.666667
2016    156.166667
2017    147.750000
Name: Ventas, dtype: float64

In [40]:
a2015=ventas.head(12)
prom=a2015['Ventas'].mean()
print("Las ventas promedio del 2015 son:",prom)

Las ventas promedio del 2015 son: 154.66666666666666

6.Calcula e imprime las ventas totales para los 3 meses de enero. Es decir la suma de enero de 2015, enero de 2016 y enero de 2017

In [44]:
ventas.groupby('Mes').sum() ['Ventas']

Mes
Abril         493
Agosto        419
Diciembre     424
Enero         404
Febrero       517
Julio         386
Junio         389
Marzo         496
Mayo          471
Noviembre     447
Octubre       550
Septiembre    507
Name: Ventas, dtype: int64

In [49]:
v_enero = ventas[ventas['Mes']=='Enero']
sumE=v_enero ['Ventas'].sum()

In [50]:
print("Las ventas totales son:", sumE)

Las ventas totales son: 404

7.Calcula las ventas promedio por mes, guardalo en un dataframe y por ultimo muestra ordenado por ventas promedio de menor a mayor

In [28]:
ventas_M=ventas.groupby('Mes').mean() ['Ventas']
ventas_M=pd.DataFrame(ventas_M)
ventas_M.sort_values('Ventas',ascending=True)

                Ventas
Mes
Julio       128.666667
Junio       129.666667
Enero       134.666667
Agosto      139.666667
Diciembre   141.333333
Noviembre   149.000000
Mayo        157.000000
Abril       164.333333
Marzo       165.333333
Septiembre  169.000000
Febrero     172.333333
Octubre     183.333333