# Variables de tipo fecha/tiempo en python
## Andrea Carolina López Ruiz ##
**30 marzo - Sesión 15**

### fechas en datetime

In [36]:
# Importamos datetime
from datetime import datetime

In [37]:
#fecha hoy
mi_year = 2023
mi_mes = 3
mi_dia = 30
mi_hora = 15
mi_minuto = 25
mi_segundo = 30

In [38]:
# formato fecha año mes dia
mi_fecha=datetime(mi_year,mi_mes,mi_dia)

In [39]:
mi_fecha

datetime.datetime(2023, 3, 30, 0, 0)

In [40]:
mi_fecha_hora = datetime(mi_year,mi_mes,mi_dia,mi_hora,mi_minuto,mi_segundo)

In [41]:
mi_fecha_hora

datetime.datetime(2023, 3, 30, 15, 25, 30)

Una vez que una variable de tipo fecha podemos acceder a sus componentes

In [42]:
## accedemos al año de mi_fecha_hora
mi_fecha_hora.month

3

In [43]:
# accedemos al minuto de mi_fecha_hora
mi_fecha_hora.minute

25

### fechas en numpy

In [44]:
import numpy as np

In [45]:
np.array (['2002-01-15','2001-06-06'],dtype='datetime64')

array(['2002-01-15', '2001-06-06'], dtype='datetime64[D]')

In [46]:
# reconoce la hora con el h en el datetime64[h]
np.array (['2002-01-15','2001-06-06'],dtype='datetime64[h]')

array(['2002-01-15T00', '2001-06-06T00'], dtype='datetime64[h]')

In [47]:
# reconoce el año 
np.array (['2002-01-15','2001-06-06'],dtype='datetime64[Y]')

array(['2002', '2001'], dtype='datetime64[Y]')

In [48]:
#reconoce por mes
np.array (['2002-01-15','2001-06-06'],dtype='datetime64[M]')

array(['2002-01', '2001-06'], dtype='datetime64[M]')

In [49]:
#vamos a contar los años hasta el dia de hoy
np.arange('2001-06-06','2023-03-30',1,dtype='datetime64[Y]')

array(['2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype='datetime64[Y]')

In [50]:
np.arange('2023-01-23','2023-03-30',7,dtype='datetime64[D]')

array(['2023-01-23', '2023-01-30', '2023-02-06', '2023-02-13',
       '2023-02-20', '2023-02-27', '2023-03-06', '2023-03-13',
       '2023-03-20', '2023-03-27'], dtype='datetime64[D]')

### fechas en pandas

In [51]:
import pandas as pd

In [52]:
# la semana del 8 de julio de 2018
semana8 = pd.date_range('7/8/18',periods=7,freq='D')

In [53]:
semana8

DatetimeIndex(['2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11',
               '2018-07-12', '2018-07-13', '2018-07-14'],
              dtype='datetime64[ns]', freq='D')

In [54]:
# de que forma le podemos pasar fechas a pandas
pd.to_datetime(['Jun 6,2001','01/15/2002','01-Jan-2023'])

DatetimeIndex(['2001-06-06', '2002-01-15', '2023-01-01'], dtype='datetime64[ns]', freq=None)

In [55]:
algunas_fechas = np.array(['2001-06-06','2002-01-15'],dtype='datetime64')

In [56]:
algunas_fechas

array(['2001-06-06', '2002-01-15'], dtype='datetime64[D]')

In [57]:
#las podemos usar en pandas
algunas_fechas=pd.to_datetime(algunas_fechas)

In [ ]:
#df.index.freq = 'D'
## CHECAR ESTA CELDA
algunas_fechas.pd.asfreq('D')